/* Author: Stephane Demots */

@media (orientation: landscape) {
    #idButtonBar{
        display:inline-block;
    }
    
    #myInput {
    width: 30vw;
    }
    
    button{
    font-size: 1.5em;
    line-height: 1.8em;
    }
}

@media (orientation: portrait) {
    #idButtonBar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    }    
    #myInput {
    width: 50vw;
    }
    
    button{
    font-size: 1.2em;
    line-height: 1.2em;
    }
}

html {
    height: 100%;
}

body {
    background-color: #160298;
    margin: 2px;
    background: url(img/bluespace.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    height: 100vh;
    overflow: hidden;
    font-family: verdana;
    cursor: default;
    color: white;
}

a{
    color: #ffd17d;
}

#idHome{
    margin-top: 2vh;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}

#TILogo{
    max-width: 80vw;
}

#idIntroLogo
{
    font-family: "Rationale";
    font-size: 2em;
    font-weight: normal;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

h2{
    font-family: "Rationale";
    font-weight: normal;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    margin: 2vh 0 2vh 0;
}

#idStartIcon{
    max-width: 6em;
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#idNotOfficial{
    margin-top: 1vh;    
}

#idGlossary{
    display: none;
}

#myInput {
    background-image: url(img/search.png);
    background-color: rgba(255, 255, 255, 0.9);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 20px 0px 60px;
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    vertical-align: middle;
    font-size: 1.3em;
    line-height: 2em;
}

.clLogo{
vertical-align: super;
    text-transform: uppercase;
    background: linear-gradient(to top, #F5FF69 0%, #CF271B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Rationale";
    font-size: 2.0em;
    border-top: 2px solid #d7542b;
    border-bottom: 2px solid #eccd57;
    line-height: 1.5em;
}


button{
    font-family: verdana;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    cursor: pointer;
    min-width: 10vw;
    outline: none;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}


#idTopBar{
    padding-top: 4px;
}

#idMiniLogo{
    margin-left: 2vw;
    margin-right: 2vw;
    vertical-align: middle;
    font-weight: bold;
}

#idTopicList{
    margin-top: 1vh;
    height: 83vh;
    overflow: auto;
}


.clTopic {
    cursor: pointer;
    padding: 4px;
    text-align: left;
    border: none;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.clTopicName{
    padding-left: 15vw;
    overflow: hidden;
    /* text-size-adjust: none; */
    /* font-size: 1.5em; */
}

.clTopicText {
    margin-top: 5px;
    border-top: 1px solid #ddd;
    padding: 0 1px;
    display: none;
    overflow: hidden;
    font-size: 0.9em;
}

.active, .clTopic:hover {
   background-color: rgba(0, 0, 0, 0.7);
}

.clRelated{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 6px;
    line-height: 1.8em;
    height: auto;
}

.clRelatedLink{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    margin-right: 5px;
    white-space: nowrap;
    font-size: 1em;
}

#idGoToTop{
    background-color: white;
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    max-width: 8vw;
    max-height: 8vh;
    padding: 10px;
    cursor: pointer;
}

.clCenterText{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.clShadowText{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

._fr{
    display: none;
    color: orange;
    text-transform: uppercase;
}

.langON{
    background-color: orange;
}

#idDebug{ display: none;}

/* The "show" class is added to the filtered elements */
/* MUST BE IN THE END OF THE FILE */
.show {
    display: inline-block;
}

.showflex {
    display: flex;
}

.clDisplayNone{
    display: none;
}

.clOpacity1{opacity:1}
.clOpacity0{opacity:0}